.hero{
    background-image: url("../images/picture-beautiful-view-birds-260nw-1836263689.webp");
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 500px;
}